$sprite: url('../../../../assets/imgs/content/actionsAfterAudit/icons-sprite.webp');

.actions-after-audit {
  .action-1 {
    width: 35px; height: 35px;
    background: $sprite -5px -5px;
  }
  .action-2 {
    width: 35px; height: 35px;
    background: $sprite -5px -50px;
  }
  .action-3 {
    width: 35px; height: 35px;
    background: $sprite -50px -5px;
  }
}